<h1>Sale</h1>

<div class ="ui grid" id="grid">
  <%@product_collection.each do |product|%>
    <div class ="four wide column" id="column">
      <% if product.image.present?%>
        <%= image_tag product.image.url(:medium)%>
      <%end%>
      <p>
       <b>Name: </b><%= link_to product.name, product%><br/>
       <b>Price: </b><%= product.price%>
       <b>Stock: </b><%= product.stock%>
       <br />
      </p>
    </div>
  <%end%>
</div>

