<div class ="ui grid" id="grid">
  <%= render partial: 'product', collection: @product_collection,
          locals: {show_link: true,cart: false,checkout:false}%>
<%= paginate @product_collection %>
</div>

